* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

header {
  background-color: #0a141d;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 0;
}

.main-list {
  display: flex;
  list-style: none;
  gap: 5rem;
}

.main-list-item {
  position: relative;
  font-size: 1.6rem;
  text-decoration: none;
  color: #48cce5;
  transition: all 0.3s;
  text-transform: capitalize;
}

/* .main-list-item::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  background-color: #48cce5;
  width: 5px;
  height: 5px;
  border-radius: 50%;
} */

.main-list-item:hover {
  color: #949eaa;
}

.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 4.4rem;
  border: 3px solid #48cce5;
  color: #fff;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  border-color: #949eaa;
}

.section-hero {
  padding: 6.4rem 0;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
}

.sm-column-gap {
  column-gap: 0;
}

.grid-align--vertically {
  align-items: center;
}

.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-custom--productions {
  column-gap: 12.8rem;
  grid-template-columns: 2fr 3fr;
}

.grid-custom--reviews {
  grid-template-columns: 1fr 2fr;
}

.grid-custom--usage-areas {
  grid-template-columns: 2fr 3fr;
}

.hero-desc {
  font-size: 2.4rem;
  color: #48cce5;
  margin-bottom: 4rem;
  line-height: 1.4;
}

.heading-primary {
  color: #fff;
  font-size: 4.8rem;
  margin-bottom: 6rem;
  line-height: 1.4;
}

.hero-video {
  width: 100%;
  height: 350px;
  border: 2px solid #48cce5;
}

.btn--primary {
  text-transform: uppercase;
  padding: 1.6rem 4.8rem !important;
}

/*
  SECTION PRODUCTIONS
*/
.section-productions {
  padding: 9.6rem 0 8rem 0;
  background-color: #000;
  color: #fff;
}

.productions-heading-container {
  padding-top: 8rem;
  position: relative;
}
.productions-heading-container::before {
  content: "";
  position: absolute;
  background-color: #48cce5;
  width: 6rem;
  height: 4px;
  top: 0;
  left: 0;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #fff;
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

.productions-desc {
  color: #48cce5;
  font-size: 2rem;
  line-height: 1.4;
}
.productions-desc-1 {
  color: #949eaa;
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}
.productions-desc-2 {
  color: #949eaa;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.productions {
  font-size: 2rem;
}

span {
  cursor: pointer;
}

.voice {
  color: #48cce5 !important;
}

.video {
  color: #1b1c52;
}

/*
  SECTION PRODUCTIONS
*/
.section-generators {
  padding: 12.8rem 0;
  background-color: #0a141d;
}

.generator-img {
  width: 100%;
}

.subheading {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #fff;
}

.margin-bottom {
  margin-bottom: 8rem;
}

.subheading-text-to-speach {
  color: #48cce5;
}

.color-main {
  color: #48cce5;
}

.generator-desc {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #949eaa;
  margin-bottom: 4.8rem;
}

.generator-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}

.generator-list-item {
  color: #949eaa;
  font-size: 1.6rem;
  line-height: 1.6;
  display: flex;
  gap: 1rem;
}

.find-out-more {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #48cce5;
  text-decoration: none;
  margin-left: 3.4rem;
  display: inline-block;
  transition: all 0.4s ease-out;
  width: 200px;
}

/*
  SECTION REVIEWS
*/
.section-reviews {
  padding: 9.6rem 0 8rem 0;
  background-color: #000;
  color: #fff;
}

.reviews {
  display: none;
}

.review-us {
  position: relative;
  padding-top: 8rem;
}
.review-us::before {
  position: absolute;
  content: "";
  position: absolute;
  background-color: #48cce5;
  width: 6rem;
  height: 4px;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.carousel-btn {
  cursor: pointer;
  padding: 2rem;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-size: 4rem;
  width: 7rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.carousel-btn:hover {
  background-color: #48cce5;
  border-color: currentColor;
  color: #000;
}

.btn-icon {
  width: 3rem;
  height: 3rem;
}

.review-box {
  border: 3px solid #949eaa;
  padding: 6.4rem 5.2rem;
  margin-bottom: 3rem;
}

.review-text {
  font-size: 1.8rem;
  color: #949eaa;
  line-height: 1.6;
}

.review-details {
  padding-left: 5.2rem;
  padding-right: 3.2rem;
  display: flex;
  justify-content: space-between;
}

.review-person {
  display: flex;
  align-items: center;
}

.reviewer-img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.review-name {
  font-size: 2rem;
  margin-bottom: 1.6rem;
}

.review-company {
  font-size: 1.6rem;
  color: #949eaa;
}

.review-date {
  align-self: flex-end;
  color: #949eaa;
  font-size: 1.2rem;
}

/*
  SECTION USAGE AREAS
*/
.section-usage-areas {
  padding: 9.6rem 0;
  background-color: #0a141d;
}

.usage-areas-desc {
  color: #949eaa;
  font-size: 1.8rem;
  line-height: 1.8;
}

.usage-areas {
  place-content: end;
  display: flex;
  gap: 3.2rem;
  margin-bottom: 2.4rem;
}

.usage-areas-text {
  position: relative;
  padding-top: 8rem;
}

.usage-areas-text::before {
  content: "";
  position: absolute;
  background-color: #48cce5;
  width: 6rem;
  height: 4px;
  top: 0;
  left: 0;
}

.usage-areas-icon {
  width: 3.6rem;
  height: 3.6rem;
  stroke: #48cce5;
}

.more-text {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

/*
  SECTION API
*/
.section-api {
  padding: 9.6rem 0;
  background-color: #48cce5;
  color: #000;
}

.api-heading {
  flex: 2 0 auto;
}

.color-black {
  color: #000;
}

.seperator {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  height: 0;
  background-color: transparent;
  width: 45%;
  transform: rotate(-90deg);
  position: relative;
}

.arrow {
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}

.capitalize {
  text-transform: capitalize;
}

.heading-tertiary {
  font-size: 2.4rem;
}

.api-container {
  display: flex;
  align-items: center;
  gap: 7rem;
  overflow: hidden;
}

.api-desc {
  color: #1b1c52;
  font-size: 2rem;
  line-height: 1.4;
}

.api-img {
  margin-bottom: 3.2rem;
}

.api-heading {
  max-width: 14rem;
  text-transform: uppercase;
}

/*
  SECTION SUBSCRIPTION
*/
.section-subscription {
  padding: 9.6rem 0;
  background-color: #0a141d;
}

.subscription-heading {
  position: relative;
  text-align: center;
  padding-top: 6rem;
}

.subscription-heading::before {
  position: absolute;
  top: 0;
  left: 50%;
  content: "";
  background-color: #48cce5;
  transform: translateX(-50%);
  width: 6rem;
  height: 3px;
}

.plans-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  margin-bottom: 5.2rem;
}

.toggle {
  position: relative;
}

.toggle input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .onoff {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  display: block;
}

.slider {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: #48cce5;
  transition: 0.3s all;
  width: 5.4rem;
  height: 2.8rem;
  border-radius: 100px;
  overflow: hidden;
}

.slider::after {
  content: "";
  position: absolute;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.3s all;
  top: 0px;
  left: 0px;
}

input:checked + .slider {
  background-color: #1b1c52;
}

input:checked + .slider::after {
  transform: translateX(100%);
}

.monthly {
  color: #949eaa;
}

.yearly {
  color: #fff;
}

.plans-icon {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.2rem;
}

.plan {
  padding: 4.3rem;
  text-align: center;
  background-color: #1b1c52;
  position: relative;
}

.plan::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #48cce5;
}

.heading-fourth {
  font-size: 2rem;
  margin-bottom: 5.4rem;
}

.color-white {
  color: #fff;
}

.price {
  color: #48cce5;
  font-size: 5.2rem;
  font-weight: 900;
  margin-bottom: 6.4rem;
}

small {
  display: block;
  color: #949eaa;
  font-weight: normal;
  font-size: small;
}

.plan-list {
  list-style: none;
  text-align: initial;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 5.2rem;
}

.plan-list-item {
  font-size: 1.6em;
  display: flex;
  color: #949eaa;
  line-height: 1.4;
}

.plan-heading {
  padding: 0 3.2rem;
}

.plan-icon {
  margin-right: 1.6rem;
}

.discount {
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
  background-color: #fff;
  display: inline-block;
  padding: 1rem 2.4rem;
  border-radius: 100px;
  color: #000;
}

.payment-plan {
  font-size: 1.6rem;
  color: #949eaa;
  font-weight: 400;
}

.icon {
  min-width: 2.4rem;
  min-height: 2.4rem;
}

.plan-btn {
  display: inline-block;
  background: transparent;
  border: 3px solid #48cce5;
  text-transform: uppercase;
  width: 100%;
  padding: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.money-guarantee span {
  color: red;
  margin-right: 0.4rem;
}

.money-guarantee {
  color: #949eaa;
  font-size: 1.2rem;
}

/*
  SECTION FAQ
*/
.section-faq {
  padding: 9.6rem 0;
  background-color: #0a141d;
  text-align: center;
}

.custom-container {
  max-width: 100rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  text-align: initial;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.section-heading-container .heading-secondary {
  position: relative;
  padding-top: 6rem;
}

.section-heading-container .heading-secondary::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 3px;
  background-color: #48cce5;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.faq {
  width: 100%;
  padding: 3.2rem 1.6rem 3.2rem 4.8rem;
  border: 1px solid #949eaa;
  cursor: pointer;
}

.question {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  color: #48cce5;
}

.question-text {
  font-size: 2rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.7s ease-in-out;
}

.answer-text {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #949eaa;
  line-height: 1.6;
}

.faq.active .answer {
  max-height: 30rem;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: 0.4s ease-in-out all;
}

.border-color {
  border-color: #48cce5;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*
  FOOTER
*/
.footer {
  padding: 6.4rem 0 3.2rem 0;
  background-color: #000;
  color: #fff;
}

.footer-logo {
  text-align: center;
  margin-bottom: 5.4rem;
}

.heading-footer {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  font-weight: 800;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  list-style: none;
}

.footer-list-item a {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  transition: 0.3s all ease-in-out;
}

.footer-list-item a:hover {
  color: #48cce5;
}

.footer-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding-bottom: 6.4rem;
}

.footer-flex::after {
  position: absolute;
  content: "";
  width: 94.5%;
  border: 1px solid #48cce5;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.flex-col {
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
}

.company h6 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1.2rem;
}
.company address {
  color: #949eaa;
  font-size: 1.2rem;
}

.policy ul {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  margin-bottom: 1.2rem;
}

.policy ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s all;
}

.policy ul li a:hover {
  color: #949eaa;
}

/* -FONT SIZE SYSTEM(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* -SPACING SYSTEM(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */ ;
